/node_modules
/public/files
/public/logos
/public/images
/public/photos
/public/signatures
/src/config/keys
/src/config/ssl

.env
.env.development.local
.env.production.local

.DS_Store
*.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store